a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 18px;
  padding: 5px 15px; /* Reduzindo o padding para tornar o botão menor */
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #2980b9;
}

body {
  display: flex;
  flex-direction: column; /* Alterando para coluna para garantir empilhamento vertical */
  align-items: center; /* Centralizando o conteúdo na tela */
  padding: 20px;
}

#conteudo-esquerda,
#conteudo-direita {
  width: 100%; /* Utilizando a largura total para ocupar toda a largura da tela */
  margin-bottom: 20px; /* Adicionando margem inferior entre os conteúdos */
}

#conteudo-direita {
  float: none; /* Removendo o float para ocupar toda a largura */
}

textarea {
  width: 100%; /* Utilizando a largura total para ocupar toda a largura da tela */
  height: 30px;
}

.pdf-container {
  margin-top: 20px;
}

#pdf-container {
  margin-top: 20px;
}

button {
  font-size: 14px;
  padding: 8px 16px;
}

ul {
  font-size: 20px; /* Substitua pelo tamanho desejado */
}

li {
  font-size: 20px;
}

body {
  background-image: url("https://data.pixiz.com/output/user/frame/preview/400x400/8/3/2/1/3311238_f3994.jpg");
  background-size: cover; /* Para cobrir todo o corpo */
  background-position: center; /* Para centralizar a imagem */
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
}
